

#miObjeto {
    position: absolute;
    left: 49%; /* Posición inicial */
    top: 95%; /* Posición fija vertical */
    width: 20px;
    height: 20px;
    background-color: blue;
}
#miObjetivo {
    position: absolute;
    left: 51%; /* Posición inicial */
    top: 95%; /* Posición fija vertical */
    width: 20px;
    height: 20px;
    background-color: blue;
}
#contenedor{
    position: absolute; /* Posición relativa al viewport */
            width: 1800px; /* Ancho del contenedor */
            height: 750px; /* Altura del contenedor */
            border: solid 1px;
            left: 50%; /* Posicionamiento horizontal */
            top: 50%; /* Posicionamiento vertical */
            transform: translate(-50%, -50%); /* Ajuste para centrar */
}

#tiempo{
    position: absolute;
    left: 50%;
    top: 5%;
    text-align: center;
}
